body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4; /* Warna latar belakang yang berbeda tetapi tidak kontras */
}

.container {
    text-align: center;
}

.apology-message {
    color: #ff4d4d;
    font-size: 1.2em;
    margin-top: 10px;
}

label {
    margin-top: 10px;
    display: block;
}

select {
    margin-top: 5px;
}

/* Sembunyikan kontrol audio */
audio {
    margin-top: 20px;
    display: none;
}
