body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4; /* Warna latar belakang yang berbeda tetapi tidak kontras */
}

.container {
    text-align: center;
}

.apology-message {
    color: #ff4d4d;
    font-size: 1.2em;
    margin-top: 10px;
}

.button-container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1em;
    cursor: pointer;
}

/* Sembunyikan kontrol audio */
audio {
    display: none;
}

.response-container {
    margin-top: 20px;
}
